@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #02040f;
    color: #f4f4f4;
}

.header {
    background-color: #02040f;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
    z-index: 3;
    font-family: 'Notable', sans-serif;
    text-transform: uppercase;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    margin-top: 25px;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    /* display: inline-block; */
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


aside {
    background-color: #11112C;
    margin-top: 200px;
}

#imgright {
    float: right;
    max-height: 300px;
}

#imgright2 {
    float: right;
    max-height: 300px;
}

#imgright3 {
    float: right;
    max-height: 300px;
}

footer {
    background: #11112C;
    padding: 20px;
    text-align: left;

}


@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -120px 60px;
    }
}

.fixed {
    position: fixed;
}

.box {
    z-index: 9999;
    background: #fa0;
    opacity: 50%;
    bottom: 0px;
    left: 50%;
    text-align: center;
    width: 50%;
}

.box h3 {
    color: #fff;
}

#article-container {
    display: grid;
    grid-template-areas: "f f""f f""f f""c c""c c""c c""b b""b b""b b""a a""a a""a a";
    gap: 12px;
    margin-top: 12px;
}

#article-container {
    display: grid;
    grid-template-areas:
        "b a c"
        "b a c"
        "e a c"
        "e a d"
        "e a d"
        "e a d"
        "e f f";
    gap: 12px;
    margin-top: 12px;
}

.article1 {
    color: #02040f;
    background-color: hwb(44 17% 0%);
    padding: 12px;
}

.article1:nth-child(1) {
    grid-area: a;
}

.article1:nth-child(2) {
    grid-area: b;
}

.article1:nth-child(3) {
    grid-area: c;
}

.article1:nth-child(4) {
    grid-area: d;
}

.article1:nth-child(5) {
    grid-area: e;
}

.article1:nth-child(6) {
    grid-area: f;
}

.aside-container-product {
    width: 100%;
}

.aside-container-product a>img {
    width: 250px;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

@media (max-width: 990px) {
    .row {
        flex-direction: column-reverse;
    }
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        /* float: right; */
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

@media screen and (max-width: 1279px) and (min-width: 480px) {
    #article-container {
        display: grid;
        grid-template-areas:
            "a b"
            "a b"
            "c b"
            "c e"
            "c e"
            "c e"
            "f f"
            "f f";
        gap: 12px;
        margin-top: 12px;
    }

    .article1:nth-child(4) {
        display: none;
    }
}

@media (max-width: 480px) {
    #article-container {
        display: grid;
        grid-template-areas: "e""c""b""a";
        gap: 12px;
        margin-top: 12px;
    }

 

    .article1:nth-child(6) {
        display: none;
    }
}